* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.layout {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: top;
  flex-direction: column;
}

.info {
  display: block;
  text-align: center;
  margin: 1em 0;
}

.info__title {
  font-family: "Baloo Bhaina";
  font-size: 2em;
  margin-bottom: 0.5em;
}

.info__desc {
  font-family: "Roboto";
}

.fl {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.btn {
  margin: 1em 0;
  display: block;
  text-align: center;
}

.gauge {
  text-align: center;
}
.gauge canvas {
  margin: 0.5em;
}

button {
  font-family: Roboto;
  font-size: 0.8em;
  line-height: 2em;
  padding: 0 1.5em;
  margin: 0 1em;
  background: gold;
  box-shadow: inset 0 -0.125rem rgba(0, 0, 0, 0.2);
  border-radius: 5em;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;
}
button:focus {
  outline: 0;
}
button:hover {
  background-color: #2ecc71;
  color: #fff;
}
button:active {
  background-color: #2ecc71;
  box-shadow: 0 1px #95a5a6;
  transform: translateY(1px);
  color: #fff;
}