* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url('../media/boja_piran.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin: 2vw;
}

h1 {
    text-align: center;
    font-size: 3vh;
    color: white;
}

.datetime-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1vh;
    margin-left: 11vw;
    margin-right: 11vw;
    color: white;
    justify-items: center;
    align-items: center;
    margin-bottom: 3vh;
}

input[type="datetime-local"] {
    font-size: 18px;
}

label {
    font-size: 3vh;
    color: black;
}

.button-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1vh;
    margin: 2vh 5vw 0 5vw;
}

.button {
    padding: 1vh;
    font-size: 3vh;
    color: white;
    background: rgba(0, 10, 150, 0.5);
}

.button:active {
    background: rgba(150, 147, 0, 0.5);
}

#btn_curr_data_graphics {
    display: none;
}

@media only screen and (min-width: 769px) {
    html {
        width: 480px;
        background-size: contain;
    }
    .datetime-container {
        margin: 0 7vw 1vh 7vw;
        background-size: contain;
    }
    header {
        margin-right: 0vw;
    }
}

@media only screen and (orientation: landscape) and (max-width: 769px) {
    .button {
        font-size: 7vh;
    }
    .button-container {
        row-gap: 2vh;
    }
    h1 {
        font-size: 7vh;
    }
}

@media only screen and ((max-width: 769px) prefers-color-scheme: dark) {

}